.section-4 {
	height: 100vh;
	max-height: 1220px;
	position: relative;
	@media screen and (max-width: 767px) {
		height: 100vh;
		max-height: 675px;
	}
	.left,
	.right {
		position: relative;
		min-height: 100vh;
/*		max-height: 900px;*/
		padding-left: 0 ;
		padding-right: 0;
		@media screen and (max-width: 767px) {
			min-height: 0;
			max-height: 550px;
		}
	}
	.left {
		max-width: 900px;
	}
	.right {
	    /*min-height: 100vh;*/
	    /*position: relative;*/
	}
	.left-content-container img {
		min-height: 591px;
		max-width: 914px;
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		@media screen and (max-width: 767px) {
			min-height: initial;
			max-height: 200px;
			position: relative;
			top: 0;
			transform: translateY(0);
		}
	}
	.right-content-container {
		position: absolute;
	    top: 50%;
	    left: 48%;
	    transform: translate(-48%, -50%);
	    @media screen and (max-width: 767px) {
	    	position: relative;
	    	top: 0;
	    	left: 0;
	    	transform: translate(0, 0);
	    	padding: 25px;
	    	text-align: center;
	    }
	}
	h1 {
		@include subheadline()
		@include responsive-font(6vw, 40px, 160px);
		@media screen and (max-width: 767px) {
			@include responsive-font(8vw, 28px, 80px);
		}
		span {
			color: $brandColorRed;
		}
	}
	h3 {
		@include subheadline()
		text-transform: uppercase;
	}
	hr {
		@include horizontal-rule()
	}
	p {
		@include body-copy()
		@include responsive-font(1.2vw, 14px, 30px);
		@media screen and (max-width: 767px) {
			@include responsive-font(3.5vw, 14px, 20px);
		}
	}
	.research-btn {
		margin-right: 15px;
		margin-top: 15px;
		@media screen and (max-width: 767px) {
			display: block;
		    font-size: 14px;
		    letter-spacing: 2px;
		    margin: 15px auto 0 auto;
		    .btn-text-container {
		    	padding: 12.5px 55px;
		    }
		}
	}
}