.section-4 {
	height: 100vh;
	max-height: 1220px;
	position: relative;
	@media screen and (max-width: 767px) {
		height: 100vh;
		max-height: 675px;
	}
	.left,
	.right {
		position: relative;
		min-height: 100vh;
/*		max-height: 900px;*/
		padding-left: 0 ;
		padding-right: 0;
		@media screen and (max-width: 767px) {
			min-height: 0;
			max-height: 550px;
		}
	}
	.left {
		max-width: 900px;
	}
	.right {
	    /*min-height: 100vh;*/
	    /*position: relative;*/
	}
	.left-content-container img {
		min-height: 591px;
		max-width: 914px;
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		@media screen and (max-width: 767px) {
			min-height: initial;
			max-height: 200px;
			position: relative;
			top: 0;
			transform: translateY(0);
		}
	}
	.right-content-container {
		position: absolute;
	    top: 50%;
	    left: 48%;
	    transform: translate(-48%, -50%);
	    @media screen and (max-width: 767px) {
	    	position: relative;
	    	top: 0;
	    	left: 0;
	    	transform: translate(0, 0);
	    	padding: 25px;
	    	text-align: center;
	    }
	    .boxed-content {
	    	border: 1px solid #000000;
	    	margin-top: 20px;
	    	max-width: 400px;
	    	padding: 30px 25px;
	    	span {
	    		font-size: 28px;
	    		font-family: $bebasNeueBold;
	    		text-transform: uppercase;
	    	}
	    }
	    .social-icons {
	    	margin-top: 30px;
	    	#social-icon-fb,
	    	#social-icon-twitter {
	    		color: $brandColorRed;
	    		display: inline-block;
	    		font-family: $bebasNeue;
	    		font-size: 18px;	    		
	    		position: relative;
	    		text-transform: uppercase;
	    	}

	    	#social-icon-fb {
	    		height: 26px;
	    		padding-left: 25px;
	    		&:before {
	    			background: url(../images/selections/social-facebook-red.png) no-repeat 0 0;
					content: "";
					display: inline-block;
					height: 26px;
					width: 12px;
					position: absolute;
    				left: 0;
    				top: -6px;
	    		}
	    	}
	    	#social-icon-twitter {
	    		height: 24px;
	    		margin-left: 40px;
	    		padding-left: 40px;
	    		&:before {
		    		background: url(../images/selections/social-twitter-red.png) no-repeat 0 0;
	    			content: "";
					display: inline-block;
					height: 24px;
					width: 28px;				
					position: absolute;
    				left: 0;
	    		}
	    	}
	    }
	}
	h1 {
		@include subheadline()
		@include responsive-font(6vw, 40px, 160px);
		color: #000;
		@media screen and (max-width: 767px) {
			@include responsive-font(8vw, 28px, 80px);
		}
		span {
			vertical-align: sub;
		}
	}
	h3 {
		@include subheadline()
		text-transform: uppercase;
	}
	hr {
		@include horizontal-rule()
	}
	p {
		@include body-copy()
		@include responsive-font(1.2vw, 14px, 30px);
		@media screen and (max-width: 767px) {
			@include responsive-font(3.5vw, 14px, 20px);
		}
	}
	.header-active {
		  color: $brandColorRed;
		  padding-left: 35px;
		  position: relative;
	  &:before {
		  position: absolute;
		  border-left: 20px solid $brandColorRed; 
		  border-top: 20px solid transparent;
		  border-bottom: 20px solid transparent;	  	
		  content: "";
		  width: 0; 
		  height: 0; 
		  left: 0;
	      top: 50%;
	      transform: translate(-0, -50%);
	  } 	  
	}
	.fundraise-btn {
		margin-right: 15px;
		margin-top: 15px;
		@media screen and (max-width: 767px) {
			display: block;
		    font-size: 14px;
		    letter-spacing: 2px;
		    margin: 15px auto 0 auto;
		    .btn-text-container {
		    	padding: 12.5px 55px;
		    }
		}
	}
}