@font-face {
	font-family: 'Trade-Gothic-bd20';
	src: url("/fonts/trade-gothic/trade-gothic-lt-pro-bdcn20.otf") format("opentype");
}

@font-face {
	font-family: 'Trade-Gothic';
	src: url("/fonts/trade-gothic/trade-gothic-lt.ttf") format("truetype");
}


@font-face {
	font-family: 'Bebas-Neue';
	src: url("/fonts/bebas-neue/bebasneue-regular.otf") format("opentype"), url("/fonts/bebas-neue/bebasneue-regular.ttf") format("truetype");
}

@font-face {
	font-family: 'Bebas-Neue-Bold';
	src: url("/fonts/bebas-neue/bebasneue-bold.otf") format("opentype"), url("/fonts/bebas-neue/ttf/bebasneue-bold.ttf") format("truetype");
}

@font-face {
	font-family: 'Sofia-Pro';
	src: url("/fonts/sofia-pro/sofia-pro-regular.otf") format("opentype");
}

@font-face {
	font-family: 'Sofia-Pro-Bold';
	src: url("/fonts/sofia-pro/sofia-pro-bold.otf") format("opentype");
}