.section-3 {
	/*height: 100vh;*/
	max-height: 1220px;
	position: relative;
	@media screen and (max-width: 767px) {
		    /*max-height: 875px;*/
		    max-height: 100%;
    		height: 100%;
    		margin-bottom: 40px;
	}
	.left,
	.right {
		position: relative;
		/*min-height: 100vh;*/
		padding-left: 0 ;
		padding-right: 0;
		@media screen and (max-width: 767px) {
			min-height: 0;
			max-height: 550px;
		}
	}
	.left {
		/*max-width: 900px;*/
		max-width: 100%;
	}
	.right {
	}
	.left-content-container {
/*		position: absolute;
		top: 50%;
		transform: translateY(-50%);*/
		position: relative;
		width: 100%;
		@media screen and (max-width: 767px) {
			position: relative;
			/*max-width: 415px;*/
    		margin: 0 auto;
    		transform: translateY(0);
		}
		.row {
			margin: 0;
		}
		.tile-container {
			position: relative;
			padding-left: 0;
			padding-right: 0;
			img {
				width: 100%;
				z-index: 1;
				@media screen and (max-width: 767px) {

				}
			}
			h2, h3, a {
				position: absolute;
    			text-align: center;
				text-transform: uppercase;	
				width: 100%;
				z-index: 2;
			}
			h2 {
			    color: #ffffff;
			    @include responsive-font(1.2vw, 12px, 24px);
			    top: 75%;
			    left: 50%;
			    transform: translate(-50%,-75%);
			}
			h3 {
			    color: #ffffff;
			    @include responsive-font(1vw, 9px, 18px);
				top: 80%;
			    left: 50%;
			    transform: translate(-50%,-80%);
			}
			a {
				color: $brandColorRed;
				@include responsive-font(1vw, 9px, 18px);
			    top: 96%;
			    left: 50%;
			    transform: translate(-50%,-93%);
			    text-decoration: underline;

			}
		}
	}
	.right-content-container {
		padding: 0 100px;
		position: absolute;
		transform: translate(0%, 100%);
		@media screen and (min-width: 768px) and (max-width: 1080px) {
			padding: 0 25px;
			transform: translate(0%, 50%);
		}
/*		position: absolute;
	    top: 50%;
	    left: 48%;
	    transform: translate(-48%, -50%);*/
	    @media screen and (max-width: 767px) {
	    	position: relative;
	    	top: 0;
	    	left: 0;
	    	transform: translate(0, 0);
	    	padding: 25px;
	    	text-align: center;
	    }
	}
	h1 {
		@include subheadline()
		@include responsive-font(5vw, 40px, 160px);
		@media screen and (max-width: 767px) {
			@include responsive-font(8vw, 28px, 80px);
		}
		span {
			color: $brandColorRed;
		}
	}
	hr {
		@include horizontal-rule()
	}
	p {
		@include body-copy()
		@include responsive-font(1.2vw, 14px, 30px);
		@media screen and (max-width: 767px) {
			@include responsive-font(3.5vw, 14px, 20px);
		}
	}
	.tile-btn {
		margin-right: 15px;
		margin-top: 15px;
		@media screen and (max-width: 767px) {
			display: block;
		    font-size: 14px;
		    letter-spacing: 2px;
		    margin: 15px auto 0 auto;
		    .btn-text-container {
		    	padding: 12.5px 55px;
		    }
		}
	}
}