/// @example scss - 5vw font size (with 50px fallback), 
///                 minumum of 35px and maximum of 150px
///  @include responsive-font(5vw, 35px, 150px, 50px);
///
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;
  
  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }
  
  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;
    
    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }
  
  @if $fallback {
    font-size: $fallback;
  }
  
  font-size: $responsive;
}


@mixin subheadline() {
  font-family: $bebasNeueBold;
  margin: 0;
  text-transform: uppercase;
}

@mixin body-copy() {
  font-family: $sofiaPro;
}

@mixin horizontal-rule() {
  border-top: 3px solid $brandColorRed;
  margin: 5px 0 25px 0;
  text-align: left;
  width: 100px;
  @media screen and (max-width: 767px) {
    border-top: 2px solid $brandColorRed;
    margin: 15px auto 25px auto;
  }
}



$tradeGothicBold: 'Trade-Gothic-bd20';
$tradeGothic: 'Trade-Gothic';
$bebasNeue: 'Bebas-Neue';
$bebasNeueBold: 'Bebas-Neue-Bold';
$sofiaPro: 'Sofia-Pro';
$sofiaProBold: 'Sofia-Pro-Bold';

$brandColorRed: #e51937;