@import 'fonts';
@import 'variables';
@import 'carousel';
@import 'button';
@import 'research';
@import 'tiles';
@import 'donate';
@import 'form';

html {
    /*overflow-y: scroll;*/
}

body {
    overflow-x: hidden;
}

.container {
	/*max-width: 1980px;*/
	padding-left: 0;
	padding-right: 0;
    width: 100%;
}

.brand-color-1 {
	color: $brandColorRed;
}

.brand-text {
	color: #000000;
	font-family: $tradeGothic;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 10px;
    position: absolute;
    top: 10px;
    left: 100px;
    text-transform: uppercase;
    z-index: 3;
    @media screen and (max-width: 767px) {
    	left: 75px;
		font-size: 8px;
	}
}

.p-0 {
    padding: 0;
}

.p-r-0 {
    padding-right: 0;
}

.down-arrow-container {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 10px;
    left: 51%;
    @media screen and (max-width: 767px) {
        bottom: 0;
        left: 50%;
    }
    .down-arrow {
        cursor: pointer;
        width: 25px!important;
        height: 25px!important;
    }
    .arrow-1 {
        @media screen and (max-width: 767px) {
            margin-top: -5px;
        }
    }
    #arrow-4 {
        @media screen and (max-width: 767px) {
            margin-top: -5px;
            margin-left: -12px;
        }
    }
}