<!DOCTYPE html>
<html>

	<head>
		<title>CURE</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div class="container" id="main">

			<div class="cure-logo">cure</div>
			<div class="brand-text">citizens united for <br/>research in epilepsy</div>

			<section class="section-1" id="section-1">
			    <div id="react-carousel-container"> <!--react component-->
				</div>
			</section>

			<section class="section-2" id="section-2">
				<div class="row">

					<div class="col-sm-6 col-sm-push-6 right">
						<div class="right-content-container">
							<h1>Research will lead us to a <span>cure</span></h1>
							<hr></hr>
							<p>We identify and fund cutting-edge research, challenging scientists worldwide to collaborate and innovate in pursuit of a cure for epilepsy. Since being founded in 1998, CURE has been at the forefront of epilepsy research, raising more than $40 million to fund research and other initiatives. The answers are out there, and we’re determined to find them.</p>
							<a href="#" class="btn cure-btn research-btn" role="button">
					    		<div class="btn-text-container">
					    			why research?
					    		</div>
					    	</a>
					    	<a href="#" class="btn cure-btn research-btn" role="button">
					    		<div class="btn-text-container">
					    			our research portfolio
					    		</div>
					    	</a>
						</div>
					</div>

					<div class="col-sm-6 col-sm-pull-6 left">
						<div class="left-content-container">
							<img class="img-responsive hidden-xs" src="./images/desktop-research.jpg" alt=""/>
							<img class="img-responsive hidden-sm hidden-md hidden-lg" src="./images/mobile-research.jpg" alt=""/>
						</div>
					</div>	

				</div>
				<a href="#" class="hidden-xs btn cure-btn donate-btn" role="button">
		    		<div class="btn-text-container">
		    			donate
		    		</div>
		    	</a>
				<div class="down-arrow-container">
		    		<img class="down-arrow arrow-3" id="arrow-3" src="/images/down-arrow.png" alt=""/>
		    	</div>
			</section>

			<section class="section-3" id="section-3">
				<div class="row">

					<div class="col-sm-6 col-sm-push-6 right">
						<div class="right-content-container">
							<h1>We are <span class="tile-change">mothers</span></h1>
							<hr></hr>
							<p>We are Citizens United for Research in Epilepsy (CURE) - the leading nongovernmental agency fully committed to funding research in epilepsy. Our organization was founded by Susan Axelrod and mothers of children with epilepsy who joined forces to spearhead the search for a cure.</p>
							<a href="#" class="btn cure-btn tiles-btn" role="button">
					    		<div class="btn-text-container">
					    			More about cure
					    		</div>
					    	</a>
						</div>
					</div>

					<div class="col-sm-6 col-sm-pull-6 left">
						 <div class="left-content-container">
						 	<div class="row" id="react-tile"> <!--react component-->
							 </div>
						</div>
					</div>

				</div>
				<a href="#" class="hidden-xs btn cure-btn donate-btn" role="button">
		    		<div class="btn-text-container">
		    			donate
		    		</div>
		    	</a>
				<div class="down-arrow-container">
		    		<img class="down-arrow arrow-4" id="arrow-4" src="/images/down-arrow.png" alt=""/>
		    	</div>
			</section>

			<section class="section-4" id="section-4">
				<div class="row" id="react-donations"> <!--react component-->
				</div>
			</section>

		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script src="/js/bundle.js"></script>

	</body>
</html>