<!DOCTYPE html>
<html>

	<head>
		<% include partials/template/head.ejs %>
	</head>

	<body>
		<div class="container" id="main">

			<div class="cure-logo">cure</div>
			<div class="brand-text">citizens united for <br/>research in epilepsy</div>

			<section class="section-1" id="section-1">
			    <div id="react-carousel-container"> <!--react component-->
				</div>
			</section>

			<section class="section-2" id="section-2">
				<div class="row">

					<div class="col-sm-6 col-sm-push-6 right">
						<div class="right-content-container">
							<h1>Research will lead us to a <span>cure</span></h1>
							<hr></hr>
							<p>We identify and fund cutting-edge research, challenging scientists worldwide to collaborate and innovate in pursuit of a cure for epilepsy. Since being founded in 1998, CURE has been at the forefront of epilepsy research, raising more than $40 million to fund research and other initiatives. The answers are out there, and we’re determined to find them.</p>
							<a href="#" class="btn cure-btn research-btn" role="button">
					    		<div class="btn-text-container">
					    			why research?
					    		</div>
					    	</a>
					    	<a href="#" class="btn cure-btn research-btn" role="button">
					    		<div class="btn-text-container">
					    			our research portfolio
					    		</div>
					    	</a>
						</div>
					</div>

					<div class="col-sm-6 col-sm-pull-6 left">
						<div class="left-content-container">
							<img class="img-responsive hidden-xs" src="./images/desktop-research.jpg" alt=""/>
							<img class="img-responsive hidden-sm hidden-md hidden-lg" src="./images/mobile-research.jpg" alt=""/>
						</div>
					</div>	

				</div>
				<a href="#" class="hidden-xs btn cure-btn donate-btn" role="button">
		    		<div class="btn-text-container">
		    			donate
		    		</div>
		    	</a>
			</section>

			<section class="section-3" id="section-3">
				<div class="row">

					<div class="col-sm-6 col-sm-push-6 right">
						<div class="right-content-container">
							<h1>We are <span>mothers</span></h1>
							<hr></hr>
							<p>We are Citizens United for Research in Epilepsy (CURE) - the leading nongovernmental agency fully committed to funding research in epilepsy. Our organization was founded by Susan Axelrod and mothers of children with epilepsy who joined forces to spearhead the search for a cure.</p>
							<a href="#" class="btn cure-btn tiles-btn" role="button">
					    		<div class="btn-text-container">
					    			More about cure
					    		</div>
					    	</a>
						</div>
					</div>

					<div class="col-sm-6 col-sm-pull-6 left" id="react-tile">
						 <div class="left-content-container">
						 	<div class="row">
							 	<div class="col-xs-6 tile-container">
							 		<img class="img-responsive" src="./images/tiles/tile-1.jpg" alt=""/>
							 		<h2>Susan Axelrod</h2>
							 		<h3>founding chair</h3>
							 		<a href="#">learn more</a>
							 	</div>
							 	<div class="col-xs-6 tile-container">
							 		<img class="img-responsive" src="./images/tiles/tile-2.jpg" alt=""/>
							 		<h2>Susan Axelrod</h2>
							 		<h3>founding chair</h3>
							 		<a href="#">learn more</a>
							 	</div>
							</div>
							<div class="row">
							 	<div class="col-xs-6 tile-container">
							 		<img class="img-responsive" src="./images/tiles/tile-3.jpg" alt=""/>
							 		<h2>Susan Axelrod</h2>
							 		<h3>founding chair</h3>
							 		<a href="#">learn more</a>
							 	</div>
							 	<div class="col-xs-6 tile-container">
							 		<img class="img-responsive" src="./images/tiles/tile-4.jpg" alt=""/>
							 		<h2>Susan Axelrod</h2>
							 		<h3>founding chair</h3>
							 		<a href="#">learn more</a>
							 	</div>
							 </div>
						</div>
					</div>

				</div>
				<a href="#" class="hidden-xs btn cure-btn donate-btn" role="button">
		    		<div class="btn-text-container">
		    			donate
		    		</div>
		    	</a>
			</section>

		</div>

	<% include partials/template/jsdefaults.ejs %>
<!--	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script> -->
	</body>
</html>