@font-face {
  font-family: 'Trade-Gothic-bd20';
  src: url("/fonts/trade-gothic/trade-gothic-lt-pro-bdcn20.otf") format("opentype"); }

@font-face {
  font-family: 'Trade-Gothic';
  src: url("/fonts/trade-gothic/trade-gothic-lt.ttf") format("truetype"); }

@font-face {
  font-family: 'Bebas-Neue';
  src: url("/fonts/bebas-neue/bebasneue-regular.otf") format("opentype"), url("/fonts/bebas-neue/bebasneue-regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Bebas-Neue-Bold';
  src: url("/fonts/bebas-neue/bebasneue-bold.otf") format("opentype"), url("/fonts/bebas-neue/ttf/bebasneue-bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Sofia-Pro';
  src: url("/fonts/sofia-pro/sofia-pro-regular.otf") format("opentype"); }

@font-face {
  font-family: 'Sofia-Pro-Bold';
  src: url("/fonts/sofia-pro/sofia-pro-bold.otf") format("opentype"); }

.carousel, .carousel-inner {
  min-height: 1800px; }
  @media screen and (max-width: 767px) {
    .carousel, .carousel-inner {
      min-height: 1225px; } }

.carousel {
  background: #ffffff; }
  .carousel .carousel-inner .side-container {
    height: 100vh; }
    .carousel .carousel-inner .side-container img {
      position: absolute;
      bottom: 0;
      opacity: .4;
      width: 100%; }
    .carousel .carousel-inner .side-container img.left {
      left: 0; }
    .carousel .carousel-inner .side-container img.right {
      right: 0; }
  .carousel .carousel-inner .upper-slide-container {
    /*border-bottom: 3px solid #e51937;*/
    height: 100vh;
    /*max-height: 900px;*/
    position: relative; }
    @media screen and (max-width: 767px) {
      .carousel .carousel-inner .upper-slide-container {
        min-height: 550px;
        max-height: 550px; } }
    .carousel .carousel-inner .upper-slide-container img {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 100%;
      min-width: 914px;
      max-width: 914px;
      transform: translate(-50%, 0); }
      @media screen and (max-width: 767px) {
        .carousel .carousel-inner .upper-slide-container img {
          width: 100%;
          min-width: 305px;
          max-width: 305px; } }
      @media (min-width: 1200px) {
        .carousel .carousel-inner .upper-slide-container img {
          min-width: 767px;
          max-width: 914px; } }
    .carousel .carousel-inner .upper-slide-container h1, .carousel .carousel-inner .upper-slide-container h4, .carousel .carousel-inner .upper-slide-container p {
      position: absolute; }
    .carousel .carousel-inner .upper-slide-container h1, .carousel .carousel-inner .upper-slide-container h4 {
      font-family: "Bebas-Neue-Bold";
      text-transform: uppercase; }
    .carousel .carousel-inner .upper-slide-container h1 {
      color: #e51937;
      /*font-size: 10vw;*/
      font-size: 10vw;
      opacity: .9;
      text-align: center;
      width: 100%;
      top: 58%;
      left: 50%;
      transform: translate(-50%, -58%); }
      @media (max-width: 1000px) {
        .carousel .carousel-inner .upper-slide-container h1 {
          font-size: 100px; } }
      @media (min-width: 2000px) {
        .carousel .carousel-inner .upper-slide-container h1 {
          font-size: 200px; } }
      @media screen and (max-width: 767px) {
        .carousel .carousel-inner .upper-slide-container h1 {
          font-size: 16vw;
          /*font-size: 50px;*/
          top: 68%;
          left: 50%;
          transform: translate(-50%, -68%); } }
  @media screen and (max-width: 767px) and (max-width: 312.5px) {
    .carousel .carousel-inner .upper-slide-container h1 {
      font-size: 50px; } }
  @media screen and (max-width: 767px) and (min-width: 406.25px) {
    .carousel .carousel-inner .upper-slide-container h1 {
      font-size: 65px; } }
    .carousel .carousel-inner .upper-slide-container h4 {
      font-size: 1.55vw; }
      @media (max-width: 838.70968px) {
        .carousel .carousel-inner .upper-slide-container h4 {
          font-size: 13px; } }
      @media (min-width: 2580.64516px) {
        .carousel .carousel-inner .upper-slide-container h4 {
          font-size: 40px; } }
      .carousel .carousel-inner .upper-slide-container h4 span {
        color: #e51937; }
      @media screen and (max-width: 767px) {
        .carousel .carousel-inner .upper-slide-container h4 {
          font-size: 4vw;
          margin-top: 5px;
          margin-bottom: 5px; } }
  @media screen and (max-width: 767px) and (max-width: 400px) {
    .carousel .carousel-inner .upper-slide-container h4 {
      font-size: 16px; } }
  @media screen and (max-width: 767px) and (min-width: 500px) {
    .carousel .carousel-inner .upper-slide-container h4 {
      font-size: 20px; } }
    .carousel .carousel-inner .upper-slide-container h4.header-left {
      top: 43%;
      left: 16%;
      transform: translate(-16%, -43%);
      z-index: 1; }
      @media screen and (max-width: 767px) {
        .carousel .carousel-inner .upper-slide-container h4.header-left {
          padding: 0 30px;
          left: 0;
          top: 8%;
          transform: translate(0, 0);
          text-align: center;
          width: 100%; } }
      @media (min-width: 768px) and (max-width: 1200px) {
        .carousel .carousel-inner .upper-slide-container h4.header-left {
          top: 43%;
          left: 7%;
          transform: translate(-7%, -43%); } }
    .carousel .carousel-inner .upper-slide-container h4.header-right {
      top: 43%;
      right: 5%;
      transform: translate(-5%, -43%);
      z-index: 1; }
      @media screen and (max-width: 767px) {
        .carousel .carousel-inner .upper-slide-container h4.header-right {
          padding: 0 30px;
          right: 0;
          top: 16%;
          transform: translate(0, 0);
          text-align: center;
          width: 100%; } }
      @media (min-width: 768px) and (max-width: 1200px) {
        .carousel .carousel-inner .upper-slide-container h4.header-right {
          top: 43%;
          right: 1%;
          transform: translate(-1%, -43%); } }
    .carousel .carousel-inner .upper-slide-container p {
      color: #111;
      font-size: 1.3vw;
      font-family: "Sofia-Pro-Bold";
      font-weight: bold;
      text-transform: none;
      text-align: center;
      width: 100%;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -100%); }
      @media (max-width: 1076.92308px) {
        .carousel .carousel-inner .upper-slide-container p {
          font-size: 14px; } }
      @media (min-width: 2307.69231px) {
        .carousel .carousel-inner .upper-slide-container p {
          font-size: 30px; } }
    .carousel .carousel-inner .upper-slide-container .upper-carousel-btn {
      top: 75%;
      left: 50%;
      transform: translate(-50%, -75%);
      position: absolute; }
      @media screen and (max-width: 767px) {
        .carousel .carousel-inner .upper-slide-container .upper-carousel-btn {
          width: 85%;
          max-width: 260px;
          top: 94%;
          left: 50%;
          transform: translate(-50%, -94%); } }
  .carousel .carousel-inner .lower-slide-container {
    height: 100vh;
    /*min-height: 900px;*/
    /*max-height: 900px;	*/
    max-height: 1220px;
    position: relative; }
    @media screen and (max-width: 767px) {
      .carousel .carousel-inner .lower-slide-container {
        min-height: 675px;
        max-height: 675px; } }
    .carousel .carousel-inner .lower-slide-container .lower-slide-left,
    .carousel .carousel-inner .lower-slide-container .lower-slide-right {
      padding-left: 0;
      padding-right: 0; }
    .carousel .carousel-inner .lower-slide-container .lower-slide-left {
      max-width: 900px; }
    .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right {
      padding-left: 75px;
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: translate(0, -50%); }
      @media screen and (min-width: 768px) and (max-width: 1080px) {
        .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right {
          padding-left: 0;
          position: absolute;
          left: 50%;
          transform: translate(-50%, -50%); } }
      @media screen and (max-width: 767px) {
        .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right {
          padding: 25px;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center; } }
      .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .story-mini-headline {
        font-family: "Bebas-Neue-Bold";
        font-size: 1.2vw;
        margin: 0;
        text-transform: uppercase; }
        @media (max-width: 1166.66667px) {
          .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .story-mini-headline {
            font-size: 14px; } }
        @media (min-width: 2500px) {
          .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .story-mini-headline {
            font-size: 30px; } }
        @media screen and (max-width: 767px) {
          .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .story-mini-headline {
            font-size: 3.5vw; } }
  @media screen and (max-width: 767px) and (max-width: 400px) {
    .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .story-mini-headline {
      font-size: 14px; } }
  @media screen and (max-width: 767px) and (min-width: 685.71429px) {
    .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .story-mini-headline {
      font-size: 24px; } }
        .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .story-mini-headline span:after {
          color: #000000;
          content: '|';
          padding-left: 8px;
          padding-right: 8px; }
      .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .story-main-headline {
        font-family: "Bebas-Neue-Bold";
        font-size: 6vw;
        margin: 0;
        text-transform: uppercase;
        width: 80%; }
        @media (max-width: 666.66667px) {
          .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .story-main-headline {
            font-size: 40px; } }
        @media (min-width: 2666.66667px) {
          .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .story-main-headline {
            font-size: 160px; } }
        @media screen and (max-width: 767px) {
          .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .story-main-headline {
            font-size: 8vw;
            width: 100%; } }
  @media screen and (max-width: 767px) and (max-width: 350px) {
    .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .story-main-headline {
      font-size: 28px; } }
  @media screen and (max-width: 767px) and (min-width: 1000px) {
    .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .story-main-headline {
      font-size: 80px; } }
      .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .story-body-copy {
        font-family: "Sofia-Pro";
        font-size: 1.2vw;
        width: 70%; }
        @media (max-width: 1166.66667px) {
          .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .story-body-copy {
            font-size: 14px; } }
        @media (min-width: 2500px) {
          .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .story-body-copy {
            font-size: 30px; } }
        @media screen and (min-width: 768px) and (max-width: 1080px) {
          .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .story-body-copy {
            width: 100%; } }
        @media screen and (max-width: 767px) {
          .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .story-body-copy {
            font-size: 3.5vw;
            width: 100%; } }
  @media screen and (max-width: 767px) and (max-width: 400px) {
    .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .story-body-copy {
      font-size: 14px; } }
  @media screen and (max-width: 767px) and (min-width: 571.42857px) {
    .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .story-body-copy {
      font-size: 20px; } }
      .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right hr {
        border-top: 3px solid #e51937;
        margin: 5px 0 25px 0;
        text-align: left;
        width: 100px; }
        @media screen and (max-width: 767px) {
          .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right hr {
            border-top: 2px solid #e51937;
            margin: 15px auto 25px auto; } }
      .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .lower-carousel-btn {
        font-size: 16px;
        margin-right: 15px;
        margin-top: 15px;
        width: 100%;
        max-width: 260px; }
        @media screen and (min-width: 768px) and (max-width: 1080px) {
          .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .lower-carousel-btn {
            margin-top: 15px; } }
        @media screen and (max-width: 767px) {
          .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .lower-carousel-btn {
            display: block;
            font-size: 14px;
            letter-spacing: 2px;
            margin: 15px auto 0 auto; } }
        .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .lower-carousel-btn .btn-text-container {
          padding: 10px 35px; }
          @media screen and (max-width: 767px) {
            .carousel .carousel-inner .lower-slide-container .right-content-container .lower-slide-right .lower-carousel-btn .btn-text-container {
              padding: 12.5px 55px; } }
    .carousel .carousel-inner .lower-slide-container img {
      /*				position: absolute;
				bottom: 0;
				left: 0;*/
      min-width: 840px;
      max-width: 840px;
      width: 100%; }
      @media screen and (min-width: 768px) and (max-width: 1080px) {
        .carousel .carousel-inner .lower-slide-container img {
          position: absolute;
          opacity: .3; } }
      @media screen and (max-width: 767px) {
        .carousel .carousel-inner .lower-slide-container img {
          min-width: 400px;
          max-width: 400px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 100%; } }
  .carousel .carousel-control.left {
    left: 2%; }
    @media screen and (max-width: 767px) {
      .carousel .carousel-control.left {
        left: 5%; } }
  .carousel .carousel-control.right {
    right: 4%; }
    @media screen and (max-width: 767px) {
      .carousel .carousel-control.right {
        right: 10%; } }
  .carousel .carousel-control {
    background-image: none;
    opacity: 1;
    width: 0; }
    .carousel .carousel-control:hover {
      opacity: 1; }
    .carousel .carousel-control .carousel-prev {
      background: url(../images/carousel/prev.png) no-repeat 0 0;
      /*			left: 10%;
			@media screen and (max-width: 767px) {
				left: 25%;
			}*/ }
    .carousel .carousel-control .carousel-next {
      background: url(../images/carousel/next.png) no-repeat 0 0;
      /*			right: 10%;
			@media screen and (max-width: 767px) {
				right: 15%;
			}*/ }
    .carousel .carousel-control .carousel-prev, .carousel .carousel-control .carousel-next {
      display: inline-block;
      height: 25px;
      width: 25px;
      position: absolute;
      top: 26%;
      z-index: 5; }
      @media screen and (min-width: 768px) and (max-width: 1080px) {
        .carousel .carousel-control .carousel-prev, .carousel .carousel-control .carousel-next {
          top: 26.5%; } }
      @media screen and (max-width: 767px) {
        .carousel .carousel-control .carousel-prev, .carousel .carousel-control .carousel-next {
          top: 12%; } }
  .carousel .carousel-indicators {
    display: none; }

.cure-logo {
  background: #e51937;
  color: #ffffff;
  font-family: "Trade-Gothic";
  font-size: 24px;
  padding: 2px 10px;
  position: fixed;
  top: 10px;
  left: 20px;
  text-align: center;
  text-transform: uppercase;
  z-index: 3; }
  @media screen and (max-width: 767px) {
    .cure-logo {
      font-size: 14px; } }

.cure-btn {
  border: 2px solid #e51937;
  border-radius: 0;
  color: #ffffff;
  cursor: pointer;
  font-family: "Trade-Gothic-bd20";
  letter-spacing: 1px;
  opacity: .9;
  padding: 5px;
  text-transform: uppercase;
  width: 100%;
  max-width: 260px; }
  @media screen and (max-width: 767px) {
    .cure-btn {
      padding: 2px; } }
  .cure-btn .btn-text-container {
    background: #e51937;
    opacity: .9;
    padding: 15px 20px; }

.cure-btn:hover {
  color: #ffffff; }

.cure-btn:visited {
  color: #ffffff; }

.donate-btn {
  position: absolute;
  bottom: 10px;
  right: 25px;
  letter-spacing: 4px;
  width: 100%;
  max-width: 116px;
  text-align: center; }

#donate-btn-first-section {
  bottom: 51%; }

.section-2 {
  height: 100vh;
  max-height: 1220px;
  position: relative; }
  @media screen and (max-width: 767px) {
    .section-2 {
      height: 100vh;
      max-height: 675px; } }
  .section-2 .left,
  .section-2 .right {
    position: relative;
    min-height: 100vh;
    /*		max-height: 900px;*/
    padding-left: 0;
    padding-right: 0; }
    @media screen and (max-width: 767px) {
      .section-2 .left,
      .section-2 .right {
        min-height: 0;
        max-height: 550px; } }
  .section-2 .left {
    max-width: 900px; }
  .section-2 .right {
    /*min-height: 100vh;*/
    /*position: relative;*/ }
  .section-2 .left-content-container img {
    min-height: 591px;
    max-width: 914px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    @media screen and (max-width: 767px) {
      .section-2 .left-content-container img {
        min-height: initial;
        max-height: 200px;
        position: relative;
        top: 0;
        transform: translateY(0); } }
  .section-2 .right-content-container {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-48%, -50%); }
    @media screen and (max-width: 767px) {
      .section-2 .right-content-container {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        padding: 25px;
        text-align: center; } }
  .section-2 h1 {
    font-family: "Bebas-Neue-Bold";
    margin: 0;
    text-transform: uppercase;
    font-size: 6vw; }
    @media (max-width: 666.66667px) {
      .section-2 h1 {
        font-size: 40px; } }
    @media (min-width: 2666.66667px) {
      .section-2 h1 {
        font-size: 160px; } }
    @media screen and (max-width: 767px) {
      .section-2 h1 {
        font-size: 8vw; } }
  @media screen and (max-width: 767px) and (max-width: 350px) {
    .section-2 h1 {
      font-size: 28px; } }
  @media screen and (max-width: 767px) and (min-width: 1000px) {
    .section-2 h1 {
      font-size: 80px; } }
    .section-2 h1 span {
      color: #e51937; }
  .section-2 hr {
    border-top: 3px solid #e51937;
    margin: 5px 0 25px 0;
    text-align: left;
    width: 100px; }
    @media screen and (max-width: 767px) {
      .section-2 hr {
        border-top: 2px solid #e51937;
        margin: 15px auto 25px auto; } }
  .section-2 p {
    font-family: "Sofia-Pro";
    font-size: 1.2vw; }
    @media (max-width: 1166.66667px) {
      .section-2 p {
        font-size: 14px; } }
    @media (min-width: 2500px) {
      .section-2 p {
        font-size: 30px; } }
    @media screen and (max-width: 767px) {
      .section-2 p {
        font-size: 3.5vw; } }
  @media screen and (max-width: 767px) and (max-width: 400px) {
    .section-2 p {
      font-size: 14px; } }
  @media screen and (max-width: 767px) and (min-width: 571.42857px) {
    .section-2 p {
      font-size: 20px; } }
  .section-2 .research-btn {
    margin-right: 15px;
    margin-top: 15px; }
    @media screen and (max-width: 767px) {
      .section-2 .research-btn {
        display: block;
        font-size: 14px;
        letter-spacing: 2px;
        margin: 15px auto 0 auto; }
        .section-2 .research-btn .btn-text-container {
          padding: 12.5px 55px; } }

.section-3 {
  height: 100vh;
  max-height: 1220px;
  position: relative; }
  @media screen and (max-width: 767px) {
    .section-3 {
      max-height: 875px; } }
  .section-3 .left,
  .section-3 .right {
    position: relative;
    min-height: 100vh;
    padding-left: 0;
    padding-right: 0; }
    @media screen and (max-width: 767px) {
      .section-3 .left,
      .section-3 .right {
        min-height: 0;
        max-height: 550px; } }
  .section-3 .left {
    max-width: 900px; }
  .section-3 .left-content-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%; }
    @media screen and (max-width: 767px) {
      .section-3 .left-content-container {
        transform: translateY(0); } }
    .section-3 .left-content-container .row {
      margin: 0; }
    .section-3 .left-content-container .tile-container {
      position: relative;
      padding-left: 0;
      padding-right: 0; }
      .section-3 .left-content-container .tile-container img {
        width: 100%;
        z-index: 1; }
      .section-3 .left-content-container .tile-container h2, .section-3 .left-content-container .tile-container h3, .section-3 .left-content-container .tile-container a {
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        z-index: 2; }
      .section-3 .left-content-container .tile-container h2 {
        color: #ffffff;
        font-size: 1.2vw;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -75%); }
        @media (max-width: 1000px) {
          .section-3 .left-content-container .tile-container h2 {
            font-size: 12px; } }
        @media (min-width: 2000px) {
          .section-3 .left-content-container .tile-container h2 {
            font-size: 24px; } }
      .section-3 .left-content-container .tile-container h3 {
        color: #ffffff;
        font-size: 1vw;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -80%); }
        @media (max-width: 900px) {
          .section-3 .left-content-container .tile-container h3 {
            font-size: 9px; } }
        @media (min-width: 1800px) {
          .section-3 .left-content-container .tile-container h3 {
            font-size: 18px; } }
      .section-3 .left-content-container .tile-container a {
        color: #e51937;
        font-size: 1vw;
        top: 96%;
        left: 50%;
        transform: translate(-50%, -93%);
        text-decoration: underline; }
        @media (max-width: 900px) {
          .section-3 .left-content-container .tile-container a {
            font-size: 9px; } }
        @media (min-width: 1800px) {
          .section-3 .left-content-container .tile-container a {
            font-size: 18px; } }
  .section-3 .right-content-container {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-48%, -50%); }
    @media screen and (max-width: 767px) {
      .section-3 .right-content-container {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        padding: 25px;
        text-align: center; } }
  .section-3 h1 {
    font-family: "Bebas-Neue-Bold";
    margin: 0;
    text-transform: uppercase;
    font-size: 6vw; }
    @media (max-width: 666.66667px) {
      .section-3 h1 {
        font-size: 40px; } }
    @media (min-width: 2666.66667px) {
      .section-3 h1 {
        font-size: 160px; } }
    @media screen and (max-width: 767px) {
      .section-3 h1 {
        font-size: 8vw; } }
  @media screen and (max-width: 767px) and (max-width: 350px) {
    .section-3 h1 {
      font-size: 28px; } }
  @media screen and (max-width: 767px) and (min-width: 1000px) {
    .section-3 h1 {
      font-size: 80px; } }
    .section-3 h1 span {
      color: #e51937; }
  .section-3 hr {
    border-top: 3px solid #e51937;
    margin: 5px 0 25px 0;
    text-align: left;
    width: 100px; }
    @media screen and (max-width: 767px) {
      .section-3 hr {
        border-top: 2px solid #e51937;
        margin: 15px auto 25px auto; } }
  .section-3 p {
    font-family: "Sofia-Pro";
    font-size: 1.2vw; }
    @media (max-width: 1166.66667px) {
      .section-3 p {
        font-size: 14px; } }
    @media (min-width: 2500px) {
      .section-3 p {
        font-size: 30px; } }
    @media screen and (max-width: 767px) {
      .section-3 p {
        font-size: 3.5vw; } }
  @media screen and (max-width: 767px) and (max-width: 400px) {
    .section-3 p {
      font-size: 14px; } }
  @media screen and (max-width: 767px) and (min-width: 571.42857px) {
    .section-3 p {
      font-size: 20px; } }
  .section-3 .tile-btn {
    margin-right: 15px;
    margin-top: 15px; }
    @media screen and (max-width: 767px) {
      .section-3 .tile-btn {
        display: block;
        font-size: 14px;
        letter-spacing: 2px;
        margin: 15px auto 0 auto; }
        .section-3 .tile-btn .btn-text-container {
          padding: 12.5px 55px; } }

.section-4 {
  height: 100vh;
  max-height: 1220px;
  position: relative; }
  @media screen and (max-width: 767px) {
    .section-4 {
      height: 100vh;
      max-height: 675px; } }
  .section-4 .left,
  .section-4 .right {
    position: relative;
    min-height: 100vh;
    /*		max-height: 900px;*/
    padding-left: 0;
    padding-right: 0; }
    @media screen and (max-width: 767px) {
      .section-4 .left,
      .section-4 .right {
        min-height: 0;
        max-height: 550px; } }
  .section-4 .left {
    max-width: 900px; }
  .section-4 .right {
    /*min-height: 100vh;*/
    /*position: relative;*/ }
  .section-4 .left-content-container img {
    min-height: 591px;
    max-width: 914px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    @media screen and (max-width: 767px) {
      .section-4 .left-content-container img {
        min-height: initial;
        max-height: 200px;
        position: relative;
        top: 0;
        transform: translateY(0); } }
  .section-4 .right-content-container {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-48%, -50%); }
    @media screen and (max-width: 767px) {
      .section-4 .right-content-container {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        padding: 25px;
        text-align: center; } }
    .section-4 .right-content-container .boxed-content {
      border: 1px solid #000000;
      margin-top: 20px;
      max-width: 400px;
      padding: 30px 25px; }
      .section-4 .right-content-container .boxed-content span {
        font-size: 28px;
        font-family: "Bebas-Neue-Bold";
        text-transform: uppercase; }
    .section-4 .right-content-container .social-icons {
      margin-top: 30px; }
      .section-4 .right-content-container .social-icons #social-icon-fb,
      .section-4 .right-content-container .social-icons #social-icon-twitter {
        color: #e51937;
        display: inline-block;
        font-family: "Bebas-Neue";
        font-size: 18px;
        position: relative;
        text-transform: uppercase; }
      .section-4 .right-content-container .social-icons #social-icon-fb {
        height: 26px;
        padding-left: 25px; }
        .section-4 .right-content-container .social-icons #social-icon-fb:before {
          background: url(../images/selections/social-facebook-red.png) no-repeat 0 0;
          content: "";
          display: inline-block;
          height: 26px;
          width: 12px;
          position: absolute;
          left: 0;
          top: -6px; }
      .section-4 .right-content-container .social-icons #social-icon-twitter {
        height: 24px;
        margin-left: 40px;
        padding-left: 40px; }
        .section-4 .right-content-container .social-icons #social-icon-twitter:before {
          background: url(../images/selections/social-twitter-red.png) no-repeat 0 0;
          content: "";
          display: inline-block;
          height: 24px;
          width: 28px;
          position: absolute;
          left: 0; }
  .section-4 h1 {
    font-family: "Bebas-Neue-Bold";
    margin: 0;
    text-transform: uppercase;
    font-size: 6vw;
    color: #000; }
    @media (max-width: 666.66667px) {
      .section-4 h1 {
        font-size: 40px; } }
    @media (min-width: 2666.66667px) {
      .section-4 h1 {
        font-size: 160px; } }
    @media screen and (max-width: 767px) {
      .section-4 h1 {
        font-size: 8vw; } }
  @media screen and (max-width: 767px) and (max-width: 350px) {
    .section-4 h1 {
      font-size: 28px; } }
  @media screen and (max-width: 767px) and (min-width: 1000px) {
    .section-4 h1 {
      font-size: 80px; } }
    .section-4 h1 span {
      vertical-align: sub; }
  .section-4 h3 {
    font-family: "Bebas-Neue-Bold";
    margin: 0;
    text-transform: uppercase;
    text-transform: uppercase; }
  .section-4 hr {
    border-top: 3px solid #e51937;
    margin: 5px 0 25px 0;
    text-align: left;
    width: 100px; }
    @media screen and (max-width: 767px) {
      .section-4 hr {
        border-top: 2px solid #e51937;
        margin: 15px auto 25px auto; } }
  .section-4 p {
    font-family: "Sofia-Pro";
    font-size: 1.2vw; }
    @media (max-width: 1166.66667px) {
      .section-4 p {
        font-size: 14px; } }
    @media (min-width: 2500px) {
      .section-4 p {
        font-size: 30px; } }
    @media screen and (max-width: 767px) {
      .section-4 p {
        font-size: 3.5vw; } }
  @media screen and (max-width: 767px) and (max-width: 400px) {
    .section-4 p {
      font-size: 14px; } }
  @media screen and (max-width: 767px) and (min-width: 571.42857px) {
    .section-4 p {
      font-size: 20px; } }
  .section-4 .header-active {
    color: #e51937;
    padding-left: 35px;
    position: relative; }
    .section-4 .header-active:before {
      position: absolute;
      border-left: 20px solid #e51937;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      content: "";
      width: 0;
      height: 0;
      left: 0;
      top: 50%;
      transform: translate(0, -50%); }
  .section-4 .fundraise-btn {
    margin-right: 15px;
    margin-top: 15px; }
    @media screen and (max-width: 767px) {
      .section-4 .fundraise-btn {
        display: block;
        font-size: 14px;
        letter-spacing: 2px;
        margin: 15px auto 0 auto; }
        .section-4 .fundraise-btn .btn-text-container {
          padding: 12.5px 55px; } }

.section-4 #donation-form {
  /* CUSTOM RADIO & CHECKBOXES http://stackoverflow.com/a/17541916/383904 */
  /*for reference*/
  /* RADIO & CHECKBOX STYLES */
  /* CHECKBOX OVERWRITE STYLES */
  /* CHECKBOX */ }
  .section-4 #donation-form .donate-inquiry {
    width: 100%; }
  .section-4 #donation-form .donate-input {
    border: 1px solid #777777;
    font-size: 20px;
    height: 50px;
    margin: 10px 0 0 0;
    max-width: 390px;
    padding-left: 15px;
    width: 100%; }
  .section-4 #donation-form .donation-buttons {
    margin-bottom: 15px;
    width: 100%; }
    .section-4 #donation-form .donation-buttons .donation-options {
      display: none; }
  .section-4 #donation-form label {
    font-family: "Sofia-Pro";
    font-size: 1.2vw;
    font-weight: normal; }
    @media (max-width: 1166.66667px) {
      .section-4 #donation-form label {
        font-size: 14px; } }
    @media (min-width: 2500px) {
      .section-4 #donation-form label {
        font-size: 30px; } }
    @media screen and (max-width: 767px) {
      .section-4 #donation-form label {
        font-size: 3.5vw; } }
  @media screen and (max-width: 767px) and (max-width: 400px) {
    .section-4 #donation-form label {
      font-size: 14px; } }
  @media screen and (max-width: 767px) and (min-width: 571.42857px) {
    .section-4 #donation-form label {
      font-size: 20px; } }
  .section-4 #donation-form label.btn {
    background: #fff;
    border: 1px solid #e51937;
    border-radius: 0px;
    color: #e51937;
    font-family: "Sofia-Pro";
    margin-right: 12px;
    max-width: 123px;
    width: 100%; }
  .section-4 #donation-form label.active {
    background: #e51937;
    color: #fff; }
  .section-4 #donation-form .rad {
    margin-right: 45px; }
  .section-4 #donation-form .rad > i {
    margin-top: -3px;
    margin-right: 10px; }
  .section-4 #donation-form .rad,
  .section-4 #donation-form .ckb {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none; }
  .section-4 #donation-form .rad > input,
  .section-4 #donation-form .ckb > input {
    /* HIDE ORG RADIO & CHECKBOX */
    visibility: hidden;
    position: absolute; }
  .section-4 #donation-form .rad > i,
  .section-4 #donation-form .ckb > i {
    /* DEFAULT <i> STYLE */
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    /*transition: 0.2s;*/
    box-shadow: inset 0 0 0 8px #ffffff;
    border: 1px solid gray;
    background: #ffffff; }
  .section-4 #donation-form .ckb > i {
    width: 20px;
    height: 20px;
    border-radius: 0px; }
  .section-4 #donation-form .rad:hover > i {
    /* HOVER <i> STYLE */
    /*box-shadow: inset 0 0 0 3px #ffffff;*/
    /*background: #fff;*/ }
  .section-4 #donation-form .rad > input:checked + i {
    /* (RADIO CHECKED) <i> STYLE */
    box-shadow: inset 0 0 0 3px #ffffff;
    background: #e51937; }
  .section-4 #donation-form .ckb > input + i:after {
    content: "";
    display: block;
    height: 12px;
    width: 12px;
    margin: 3px;
    border-radius: 0px;
    transition: inherit;
    background: #ffffff; }
  .section-4 #donation-form .ckb > input:checked + i:after {
    /* (RADIO CHECKED) <i> STYLE */
    background: #e51937; }
  .section-4 #donation-form .donation-submit-btn {
    background: #ffffff;
    border: 2px solid #e51937;
    border-radius: 0;
    font-family: "Trade-Gothic-bd20";
    opacity: .9;
    padding: 5px;
    width: 100%;
    max-width: 104px; }
    .section-4 #donation-form .donation-submit-btn .submit-btn-container {
      background: #e51937;
      color: #ffffff;
      letter-spacing: 1px;
      padding: 10px 25px;
      text-transform: uppercase;
      width: 100%; }

html {
  /*overflow-y: scroll;*/ }

body {
  overflow-x: hidden; }

.container {
  /*max-width: 1980px;*/
  padding-left: 0;
  padding-right: 0;
  width: 100%; }

.brand-color-1 {
  color: #e51937; }

.brand-text {
  color: #000000;
  font-family: "Trade-Gothic";
  font-size: 11px;
  font-weight: bold;
  padding: 2px 10px;
  position: absolute;
  top: 10px;
  left: 100px;
  text-transform: uppercase;
  z-index: 3; }
  @media screen and (max-width: 767px) {
    .brand-text {
      left: 75px;
      font-size: 8px; } }
